body {
  background-color: lightpink;
  background-image: url("../images/matrix.jpg");
}
h1 {
  color: purple;
}
p {
  color: green;
}

.laatikko {
  margin: 30px;
  padding: 30px;
  background-color: white;
}
